{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>

<h2>Upload a photo</h2>
<br>
<p>
Take a photo of the damaged property on your mobile device. Location services must be enabled. You may also use an existing photo of the structure.
</p>
<br>

      <form action = "/verify" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>

<br>

<p class=small><i>Make sure you are using .jpg or .png files. Photos that have been transferred using messaging apps are compressed and will not inlclude the geographical information.</i></p>

<a href="/verify">Skip this step</a>

<div class="border-top pt-3">
  <small class="text-muted">
    <a class ="ml-2" href = "{{url_for('home')}}">Logout</a></small>
  
</div>
      {% endblock content %}
